#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .hola svg {
  height: 100%;
  width: 100%;
} */

/* svg { */
/* #graphviz1 {
  fill: red;
} */
svg {
  width: 1000px;
  height: 80vh;
}

/* Selecciona todos los elementos de relleno (polígonos) generados por Graphviz y establece el color de relleno */
polygon {
  fill: #131313;
  /* Cambia el color de relleno a rojo (#ff0000) */
}

ellipse {
  stroke: #fff;
}

text {
  fill: #fff;
}

.edge polygon {
  fill: none;
  stroke: #fff;

}


path {
  stroke: #fff;

}


/* } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #fff;
}