#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* .hola svg {
  height: 100%;
  width: 100%;
} */

/* svg { */
/* #graphviz1 {
  fill: red;
} */

.graph-container svg {
  width: 1000px;
  height: 80vh;
}

/* Selecciona todos los elementos de relleno (polígonos) generados por Graphviz y establece el color de relleno */
.graph-container polygon {
  fill: #131313;
  /* Cambia el color de relleno a rojo (#ff0000) */
}

select {
  cursor: pointer;
  appearance: none;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
}

/* Estilo para el casillero cuando está marcado (cambia el fondo de color) */
input[type="checkbox"]:checked {
  background-color: #8B5CF6;
}

.graph-container ellipse {
  stroke: #fff;
}

.graph-container text {
  fill: #fff;
}

.graph-container .edge polygon {
  fill: none;
  stroke: #fff;

}


path {
  stroke: #fff;

}

/* scroll styles, black scroll */

* {
  scrollbar-width: none;
  scrollbar-color: #000000 #b10606;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #000000; */
  background-color: #fff;
  border-radius: 10px;
  /* border: 3px solid #ffffff; */
}

/* } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #fff;
}