#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

/* .hola svg {
  height: 100%;
  width: 100%;
} */

/* svg { */
/* #graphviz1 {
  fill: red;
} */
#graphviz1 svg {
  width: 1000px;
  height: 80vh;
}

/* Selecciona todos los elementos de relleno (polígonos) generados por Graphviz y establece el color de relleno */
#graphviz1 polygon {
  fill: #131313;
  /* Cambia el color de relleno a rojo (#ff0000) */
}

#graphviz1 ellipse {
  stroke: #fff;
}

#graphviz1 text {
  fill: #fff;
}

#graphviz1 .edge polygon {
  fill: none;
  stroke: #fff;

}


path {
  stroke: #fff;

}

/* scroll styles, black scroll */

* {
  scrollbar-width: none;
  scrollbar-color: #000000 #b10606;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #000000; */
  background-color: #fff;
  border-radius: 10px;
  /* border: 3px solid #ffffff; */
}

/* } */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131313;
  color: #fff;
}